button {
  width: 140px;
  height: 40px;
  margin: 30px 5px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Sora", sans-serif;
  

  color: black;
  background-color: #f7f7f9;
  transition: 1s;
  border: none;
}
button:hover {
  color: #f5f5f7;
  background-color: #b1b1e3;;
  transition: 1s;

}

.calc-btn{
  background-color: #f73a21c5;
}
.calc-btn:hover{
  background-color: #991100;
}
.back-btn{
  background-color: #f73a21c5;
}
.back-btn:hover{
  background-color: #991100;
}