body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-color: #181817;
}
*{
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
footer{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}